<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <!-- Form -->
        <form method="POST" action="//formspree.io/{{ site.email }}">
          <div class="form-group">
            <label for="Name">Name:</label>
            <input type="text" class="form-control" id="Name" placeholder="Name">
          </div>

          <div class="form-group">
            <label for="Name">Email:</label>
            <input type="text" class="form-control" id="Email" placeholder="Email">
          </div>

          <div class="form-group">
            <label>Message</label>
            <textarea type="text" class="form-control" id="Message" placeholder="Add Message"></textarea>
          </div>
        </form>
        <input type="submit" class="btn btn-default" name="submit">

      </div>

      <div class="col-md-6 col-sm-6">
      </div>

    </div>
  </div>
</section>
