<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- ScrollReveal -->
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

<script>
    window.sr = ScrollReveal();
    sr.reveal('#landing', {
      duration: 1000,
      distance: "500px",
      origin: 'bottom',
    });
    sr.reveal('#landing-btn', {
      duration: 1000,
      origin: 'bottom',
      distance: '500px',
      delay: 1000,
    });
      sr.reveal('.navbar', {
        duration: 2000,
        origin: 'left'
      });
      sr.reveal('.showcase-left', {
        duration: 2000,
        origin: 'top',
        distance: '500px',
      });
      sr.reveal('.showcase-right', {
        duration: 2000,
        origin: 'right',
        distance: '500px',
      });
      sr.reveal('#testimonial', {
        duration: 2000,
        origin: 'bottom',
        distance: '500px',
      });
      sr.reveal('#contact', {
        duration: 2000,
        origin: 'right',
        distance: '1000px',
      });
</script>

<script>
$(function() {
  // Smooth SCrolling
  $('a[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace (/^\//,'') &&
  location.hostname == this.hostname) {
    var target = $(this.hash);
    target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
    if (target.length) {
      $('html, body').animate({
        scrollTop: target.offset().top
      }, 1000);
      return false;
    }
  }
});
});


</script>
