<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{site.baseurl}}/js/jquery/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{site.baseurl}}/js/bootstrap/js/bootstrap.min.js"></script>
<!-- ScrollReveal -->
<script src="{{site.baseurl}}/js/scrollreveal/scrollreveal.min.js"></script>
<script src="{{site.baseurl}}/js/sass/lib/sass.js"></script>
<script src="{{site.baseurl}}/js/jqvmap/dist/jquery.vmap.js"></script>
<script src="{{site.baseurl}}/js/jqvmap/dist/maps/jquery.vmap.world.js"></script>
<script src="{{site.baseurl}}/js/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>

<script>

$('#vmap').vectorMap({
    map: 'world_en',
    backgroundColor: null,
    color: '#ffffff',
    hoverOpacity: 0.7,
    selectedColor: '#666666',
    enableZoom: true,
    showTooltip: true,
    values: sample_data,
    scaleColors: ['#C8EEFF', '#006491'],
    normalizeFunction: 'polynomial'
});

</script>

<script>
    window.sr = ScrollReveal();
    sr.reveal('#landing', {
      duration: 1000,
      distance: "500px",
      origin: 'bottom',
    });
    sr.reveal('#landing-btn', {
      duration: 1000,
      origin: 'bottom',
      distance: '500px',
      delay: 1000,
    });
      sr.reveal('#navtop', {
        duration: 2750,
        origin: 'top',
        distance: '300px',
      });
      sr.reveal('.showcase-left', {
        duration: 2000,
        origin: 'top',
        distance: '500px',
      });
      sr.reveal('.showcase-right', {
        duration: 2000,
        origin: 'right',
        distance: '500px',
      });
      sr.reveal('#testimonial', {
        duration: 2000,
        origin: 'bottom',
        distance: '500px',
      });
      sr.reveal('.panel-heading', {
        duration: 2000,
        origin: 'top',
        distance: '1000px',
      });
      sr.reveal('.project-1', {
        duration: 2000,
        origin: 'left',
        distance: '1000px',
      });
      sr.reveal('#contact', {
        duration: 2000,
        origin: 'right',
        distance: '1000px',
      });
</script>

<script>
$(function() {
  // Smooth SCrolling
  $('a[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace (/^\//,'') &&
  location.hostname == this.hostname) {
    var target = $(this.hash);
    target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
    if (target.length) {
      $('html, body').animate({
        scrollTop: target.offset().top
      }, 1000);
      return false;
    }
  }
});
});


</script>
